.indexContainer{

    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 600px;
    margin-bottom: 2rem;
    
}

.image{
    border: 0;
    flex: 1;
}
.text{
    padding: 3rem 5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.text h1{
    font-size: 4rem;
    color: #112a46;
    line-height: 3.5rem;
}

.text p{
    font-weight: 600;
    font-size: 1.3rem;
    color: gray;
    line-height: 2rem;
}
