.logoWrapper {
    color:#112a46;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
}

.navLink {
    display: flex;
    width: 30%; 
    justify-content: space-around;
}


.navItem {
    letter-spacing: 0.1rem;
    color: #112a46;
    font-weight: bold;
    font-size: 0.9rem;
    list-style: none;
}

.navLinkHorizantal {
    display: flex;
    width: 30%; 
    justify-content: space-around;
}

.navItemHorizantal {
    letter-spacing: 0.1rem;
    color: #112a46;
    font-weight: bold;
    font-size: 0.9rem;
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #112a46;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width:1024px) {
    

    .navLink {
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 6vh;
        background: #e0e0e0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
  
    }

    .navLinkHorizantal{
        display: none;
    }

    .burger {
        display: block;

    }
}



.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}